.header{
	background-color: orangered;
	float: center;
}
h1{
	font-family: Georgia;
	font-style: oblique;
	text-align: center;
	background-color: orangered; 
}
.header input{
	width: 100%
	height 


}

.header button{
	border-radius:5px;
	font-weight: bold;
	cursor: pointer;
	color: blue;
}




































	
}

